body{
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	background: #101120 url("../img/bg.png") repeat center top;
}
/* 1 блок */
.container{
	max-width: 2460px;
	
}
.logo{
	width: 163px;
	height: 38px;
}

.text-logo{
	font-size: 13px;
	line-height: 18px;
	margin-left: 15px;
}
.number{
	font-size: 24px;
	padding-right: 26px;
}
.num{
	position: static;
	padding-top: 64px;
	padding-right: 64px;
}
.log{
	position: static;
	padding-top: 64px;
	padding-left: 64px;
}
.line-box{
	padding-top: 5px;
}
.line{
	width: 48px;
	height: 4px;
	background: #69BAC4;
	margin-bottom: 8px;
}
.main-img{
	/*margin-top: 270px;*/
	/*margin-top: 310px;*/
	/*margin-bottom: 150px;*/
	/*margin-bottom: 350px;*/
	padding-bottom: 200px;
}
.projects{
	position: fixed;
	top: 800px;
	padding-left: 64px;
}
.projects a{
	text-decoration: none;
}
.about{
	position: fixed;
	top: 800px;
	right: 64px;
}
.proekt{
	background: url("../img/about.png") no-repeat center top;
	width: 300px;
	height: 70px;
}
.proekt a{
	text-decoration: none;
}
.about-text{
	padding-left: 65px;
	display: block;
	padding-top: 22px;
	font-size: 18px;
	text-transform: uppercase;
	color: #69BAC4;
}
.projects-text{
	font-size: 18px;
	text-transform: uppercase;
	color: #69BAC4;
	padding-top: 8px;
	padding-left: 8px;
}
/* 2 блок */
.circles{
	padding-bottom: 130px;
}
.box-03{
	text-align: center;
	width: 252px;
}
.box-01,.box-02{
	text-align: center;
	margin-right: 170px;
	width: 252px;
}
.box-01 p,.box-02 p,.box-03 p{
	padding-top: 14px;
}
/*3 блок*/
.addidas-section{
	margin-left: 280px;
}
.addidas-text{
	text-align: left;
}
