body{
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	background: #101120 url("../img/bg.png") repeat center top;
}
/*Кнопка загрузить макет*/
label{
	padding-left: 55px;
	padding-top: 24px;
	text-transform: uppercase;
	font-size: 18px;
	color: #69BAC4;
	text-decoration: none;
	cursor: pointer;
}
/*Поле комментария в форме*/
textarea{
	max-height: 200px;
}
.select{
	width: 612px;
	height: 48px;
	border: 1.1px solid #69BAC4; 
	background: transparent;
	color: grey;
	margin-bottom: 20px;
}
option{
	/*Тут изменять фон пунктов
	в "Вид работ"
	*/
}
/*слайдер 2*/
#slider2 {
	width: 808px;
	height: 420px;
	border: 5px solid black;
	overflow: hidden;
	left: 250px;
	position: absolute;
}
#polosa2{
	width: 4040px;/*изменить длинну при добавке фото*/
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa2 img{
	float: left;
}

#polosa2::after {
	content: "";
	display: block;
	clear: both;
}
/*слайдер 1*/
#slider {
	width: 808px;
	height: 420px;
	border: 5px solid black;
	overflow: hidden;
	position: absolute;
	left: 200px;
}
#polosa-text{
	display: flex;
}
#polosa{

	width: 4848px;/*изменить длинну при добавке фото*/
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa img{
	float: left;
}

#polosa::after {
	content: "";
	display: block;
	clear: both;
}

.test{
	position: absolute;
	left: 200px;
}
.next i{
	cursor: pointer;
}
.left-arrow{
	margin-right: 22px;
}
/* 1 блок */
.container{
	max-width: 2460px;
}
.mobile1{
	display: none;
}
.mobile2{
	display: none;
}
.menu-left{
	width: 564px;
	height: 1080px;
	background: #69BAC4;
}
.menu2{
	background: url("../img/addi-menu.png") repeat center top;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	padding-left: 0;
}
.menu3{
	background: #101120 url("../img/bg.png") repeat center top;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	text-align: center;
	padding-top: 100px;
	display: none;
	padding-top: 200px;
}
.line-box2{
	display: none;
	font-size: 36px;
	color: #69BAC4;
	cursor: pointer;
}
.menu3 a{
	font-size: 36px;
	text-transform: uppercase;
	padding-bottom: 30px;
	display: block;
	text-decoration: none;
	color: #fff;
}
.lol{
	font-size: 30px;
}
.menu3 a:hover{
	color: #69BAC4;
	background: url("../img/hover.png") no-repeat center top;
	width: 100%;
}
.first{
	margin-top: 30px;
}
.menu2 a{
	display: block;
	font-size: 36px;
	text-transform: uppercase;
	width: 100%;
	padding: 20px;
	text-decoration: none;
	color: #fff;
}
.menu2 a:hover{
	background: #101120;
}
.menu2 p{
	font-size: 36px;
	cursor: pointer;
	padding: 25px;
}
.logo{
	width: 163px;
	height: 38px;
}

.text-logo{
	font-size: 13px;
	line-height: 18px;
	margin-left: 15px;
}
.number{
	font-size: 24px;
	padding-right: 26px;
	padding-top: 16px;
}
.num{
	position: static;
	padding-top: 64px;
	padding-right: 64px;
}
.log{
	position: static;
	padding-top: 64px;
	padding-left: 64px;
}
.line-box{
	padding-top: 5px;
	cursor: pointer;
}
.line{
	width: 48px;
	height: 4px;
	background: #69BAC4;
	margin-bottom: 8px;
	cursor: pointer;
}
.main-img{
	padding-bottom: 100px;
	padding-top: 200px;
}
.projects{
	position: fixed;
	bottom: 10%;
	padding-left: 64px;
}
.logotype{
	position: fixed;
	top: 64px;
	padding-left: 64px;
}
.number-menu{
	position: fixed;
	top: 64px;
	padding-left: 64px;
	right: 64px;
}
.projects a{
	text-decoration: none;
}
.projects a:hover{
	color: #69BAC4;
}
.about{
	position: fixed;
	bottom: 10%;
	right: 64px;
}
.proekt{
	background: url("../img/about.png") no-repeat center top;
	width: 300px;
	height: 70px;
}
.proekt a{
	text-decoration: none;
}
.proekt a:hover{
	color: #69BAC4;
}
.about-text{
	padding-left: 65px;
	display: block;
	padding-top: 22px;
	font-size: 18px;
	text-transform: uppercase;
	color: #69BAC4;
}
.projects-text{
	font-size: 18px;
	text-transform: uppercase;
	color: #69BAC4;
	padding-top: 8px;
	padding-left: 8px;
}
/* 2 блок */
.circles{
	padding-bottom: 100px;
	padding-top: 150px;
}
.box-03{
	text-align: center;
	width: 252px;
}
.box-01,.box-02{
	text-align: center;
	margin-right: 170px;
	width: 252px;
}
.box-01 p,.box-02 p,.box-03 p{
	padding-top: 14px;
}
/*3 блок*/
.addidas-title{
	position: absolute;
	top: 0;
}
.ttt{
	position: absolute;
	left: 20%;
}
.blue-text{
	color: #69BAC4;
	font-size: 18px;
}
.add-text{
	padding-top: 120px;
}
.add-text p{
	padding-bottom: 16px;
}
/*4 блок*/
.call-text{
	width: 532px;
	height: 182px;
	border: 1.1px solid #69BAC4; 
	margin-left: 24px;
	padding: 14px;
}
.call{
	padding-bottom: 150px;
	padding-top: 150px;
	padding-left: 260px;
}
.call h1{
	text-transform: uppercase;
}
.call input{
	border: 1.1px solid #69BAC4;
	background-color: transparent;
	color: #fff;
	width: 612px;
	padding: 10px;
	margin-bottom: 25px;
}
.hide{
	position: absolute;
	overflow: hidden;
	width: 0.1em;
	height: 0.1em;
	z-index: -1;
	opacity: 0; 
}
.comment{
	height: 82px;
	width: 612px;
	background: transparent;
	border: 1.1px solid #69BAC4;
	color: #fff;
}
.obsudit{
	background: url("../img/full.png") no-repeat center top;
	width: 300px;
	height: 70px;
}
.obsudit a{
	display: block;
	text-transform: uppercase;
	font-size: 18px;
	color: #101120;
	padding-top: 24px;
	padding-left: 60px;
	text-decoration: none;
}
.maket{
	background: url("../img/about.png") no-repeat center top;
	width: 300px;
	height: 70px;
}
/*блок 5*/
.printer-title{
	padding-left: 250px;
}
.printer{
	padding-bottom: 100px;
	padding-top: 200px;
}
.print-text{
	padding-top: 132px;
}
.print-text p{
	padding-bottom: 16px;
}
.uznat1{
	display: block;
	padding-left: 440px;
}
.uznat2{
	display: block;
	padding-left: 490px;
}
.uznat3{
	display: block;
	padding-left: 300px;
}
.uznat4{
	display: block;
	padding-left: 1200px;
}
.pr02{
	padding-top: 140px;
	padding-right: 70px;
}
.addidas-title2{
	padding-left: 210px;
}
.ad01{
	padding-top: 140px;
	padding-right: 70px;
}
.montaz-line{
	padding-top: 20px;
}
.montaz-box1{
	width: 230px;
	margin-right: 155px;
}
.montaz-box2{
	width: 300px;
	margin-right: 162px;
}
.montaz-box3{
	width: 220px;
}
.montaz-box1 p,.montaz-box2 p,.montaz-box3 p{
	padding-top: 15px;
}
.srochniy{
	background: url("../img/about.png") no-repeat center top;
	width: 300px;
	height: 70px;
	margin-top: 30px;
	margin-right: 10px;
}
.srochniy a{
	display: block;
	padding-left: 25px;
	padding-top: 24px;
	text-transform: uppercase;
	font-size: 18px;
	color: #69BAC4;
	text-decoration: none;
}
.blue-titl{
	font-size: 24px;
	color: #69BAC4;
}
.montaz{
	padding-bottom: 100px;
	padding-top: 100px;
	padding-left: 220px;
}
.mr-left{
	margin-left: 3%;
}
.strelka{
	padding-bottom: 0px;
	padding-top: 70px;
}
.row-stol{
	padding-top: 130px;
}
/*блок 6*/
.vector{
	background: url("../img/vector.png") no-repeat center top;
}
.col1{
	width: 555px;
	height: 150px;
	margin-bottom: 142px;
	margin-right: 165px;
}
.col2{
	width: 545px;
	height: 135px;
	margin-bottom: 142px;
}
.col3{
	width: 555px;
	height: 150px;
	margin-right: 165px;
}
.col4{
	width: 545px;
	height: 135px;
}
.text-group{
	padding-bottom: 90px;
	padding-left: 370px;
}
.stol-text h1{
	font-size: 34px;	
}
.stol-text p{
	font-size: 18px;
	width: 646px;
}
.stol-text{
	padding-top: 100px;
}
/*блок 7*/
.block1{
	background: url("../img/11.png") no-repeat center top;
	margin-right: 40px;
	text-align: center;
	padding: 40px;
}
.block2{
	background: url("../img/9850.png") no-repeat center top;
	margin-right: 40px;
	text-align: center;
	padding: 40px;
}
.block3{
	background: url("../img/4.png") no-repeat center top;
	margin-right: 40px;
	text-align: center;
	padding: 40px;
}
.block4{
	background: url("../img/71.png") no-repeat center top;
	text-align: center;
	padding: 40px;
}
.big{
	font-size: 96px;
	color: #69BAC4;
	margin-bottom: 0;
}
.s-big{
	font-size: 48px;
}
.leaders{
	padding-top: 100px;
	width: 629px;
	margin-left: 380px;
}
.lead-text{
	font-size: 18px;
}
.ld-text{
	font-size: 24px;
	color: #69BAC4;
}
a{
	color: #69BAC4;
	text-decoration: none;
}
/*блок 8*/
.forma{
	text-align: center;
	width: 1434px;
	/*border: 1.1px solid #69BAC4;*/
	background: url("../img/ramka.png") no-repeat center top;
	height: 440px;
	padding-bottom: 200px;
}
.forma input{
	border: 1.1px solid #69BAC4;
	background-color: transparent;
	color: #fff;
	width: 604px;
	height: 48px;
	padding: 10px;
	margin-bottom: 25px;
}
.formaa{
	margin-left: 200px;
}
.form-uslovia{
	font-size: 24px;
	padding-top: 40px;
}
.form-b{
	background: url("../img/form-b.png") no-repeat center top;
}
.form-b a{
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	color: #101120;
	text-align: center;
	padding: 26px;
	text-decoration: none;
}
/*блок 11*/
.contacts{
	padding-left: 10%;
}
.contacts a{
	text-decoration: none;
	color: #fff;
}
.map{
	position: relative;
	left: 50px;
	top: 50px;
	width: 956px;
	height: 461px;
}
.contacts p{
	padding-bottom: 0;
	margin-bottom: 0;
}
.map-box{
	background: url("../img/map.png") no-repeat center top;
	width: 1050px;
	height: 560px;
	position: absolute;
}
.telega{
	margin-right: 30px;
	margin-left: 5px;
}
.contacts-numbers{
	padding-top: 20px;
	padding-bottom: 20px;
}
.soc{
	padding-bottom: 20px;
}
.adress{
	padding-bottom: 20px;
}
.post{
	padding-bottom: 20px;
}
.wats{
	margin-left: 5px;
}
.contacts a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.facebook{
	margin-right: 15px;
}
/*media запросы*/
@media screen and (min-width: 761px) and (max-width: 901px){
	.main-img{
		padding-bottom: 50px;
		padding-top: 150px;
	}
	#slider{
		width: 450px;
		height: 250px;
		left: 40px;
	}
	#slider2{
		width: 500px;
		height: 280px;
		left: 30px;
	}
	.comment{
		width: 150px;
	}
	.select{
		width: 150px;
	}
	label{
		font-size: 14px;
		padding-left: 24px;
		padding-top: 18px;
	}
	.forma{
		background: none;
		border: 1.1px solid #69BAC4;
	}
	.main-img img{
		width: 80%;
	}
	.number-menu{
		flex-direction: column;
		left: 240px;	
		right: 0;
	}
	.logotype{
		flex-direction: column;
	}
	.circles{
		flex-direction: column;
		padding-left: 35%;
	}
	.about{
		bottom: 3%;
	}
	.projects{
		bottom: 3%;
	}
	.strelka{
		display: none;
	}
	.img-addidas{
		width: 100%;
	}
	.ad01{
		display: none;
	}
	.addidas-title2{
		padding-left: 0px;
	}
	.print-text{
		padding-top: 50px;
	}
	.print-text p{
		padding-bottom: 0px;
		font-size: 10px;
	}
	.uznat1{
		padding-left: 100px;
	}
	.call input{
	border: 1.1px solid #69BAC4;
	background-color: transparent;
	color: #fff;
	width: 212px;
	padding: 10px;
	margin-bottom: 25px;
	}
	.call{
		padding-left: 50px;
	}
	.obsudit{
		width: 200px;
		height: 60px;
		margin-right: 10px;
	}
	.obsudit a{
		padding-left: 26px;
		font-size: 16px;
	}
	.call-text{
	border: 1.1px solid #69BAC4; 
	margin-left: 24px;
	padding: 14px;
	height: 100%;
	}
	.maket{
		width: 200px;
		margin-top: 6px;
		height: 54px;
		background: none;
		border: 1.2px solid #69BAC4;
	}
	.maket a{
		font-size: 16px;
		padding-top: 14px;
		padding-left: 16px;
	}
	.pr02{
		display: none;
	}
	.printer-img{
		width: 80%;
	}
	.printer-title{
		padding-left: 0px;
	}
	.uznat2{
		padding-left: 100px;
	}
	.montaz{
		padding-left: 0;
	}
	.montaz-line div{
		margin-right: 20px;
	}
	.text-group{
		padding-left: 22%;
		padding-top: 120px;
	}
	.row-stol{
		padding-left: 0;
		flex-direction: column;
	}
	.stol-img{
		width: 70%;
		margin-left: 100px;
	}
	.abb{
		flex-direction: column;
	}
	.big{
		font-size: 76px;
	}
	.block1{
		padding: 10px;
	}
	.leaders{
	padding-top: 100px;
	width: 629px;
	margin-left: 0px;
	}
	.lead{
		width: 90%;
		padding-top: 200px;
	}
	.formaa{
		margin-left: 36px;
	}
	.forma input{
	background-color: transparent;
	color: #fff;
	width: 284px;
	height: 38px;
	padding: 10px;
	margin-bottom: 15px;
	}
	.forma{
	text-align: center;
	padding-top: 60px;
	width: 90%;
	border: 1.1px solid #69BAC4;
	height: 472px;
	padding-bottom: 100px;
	}
	.uznat3{
		padding-left: 200px;
	}
	.one-row{
		flex-direction: column;
		text-align: center;
	}
	.two-row{
		flex-direction: column;
		text-align: center;
	}
	.col1 p{
		max-height: 150px;
	}
	.col1{
	width: 455px;
	height: 150px;
	margin-bottom: 30px;
	}
	.col2{
	width: 445px;
	height: 135px;
	margin-bottom: 30px;
	}
	.col3{
	width: 455px;
	height: 150px;
	margin-bottom: 30px;
	}
	.col4{
	width: 445px;
	height: 135px;
	margin-bottom: 30px;
	}
	.stol-text p{
	font-size: 18px;
	width: 546px;
	}
	.vector{
		background: none;
	}
}
@media screen and (min-width: 902px) and (max-width: 1199px){
	.main-img{
		padding-bottom: 50px;
		padding-top: 150px;
	}
	.forma{
		background: none;
		border: 1.1px solid #69BAC4;
	}
	.main-img img{
		width: 80%;
	}
	.ad01{
		display: none;
	}
	.pr02{
		display: none;
	}
	.img-addidas{
		width: 100%;
	}
	.addidas-title2{
		padding-left: 0;
	}
	.addis{
		padding-top: 250px;
	}
	.print-text{
		padding-top: 120px;
	}
	.uznat2{
		padding-left: 130px;
	}
	.call{
		padding-left: 0;
		padding: 10px;
	}
	.call-text{
	border: 1.1px solid #69BAC4; 
	margin-left: 24px;
	padding: 14px;
	height: 100%;
	}
	.printer{
		padding-left: 0;
		top: 50px;
	}
	.printer-title{
		padding-left: 0;
	}
	.printer-img{
		width: 60%;
	}
	.print-text{

	}
	.montaz{
		padding-left: 0;
	}
	.stol-img{
		width: 60%;
	}
	.stol-text{
		width: 400px;
	}
	.stol-text p{
		width: 400px;
	}
	.uznat3{
		padding-left: 160px;
	}
	.abb{
		flex-direction: column;
	}
	.big{
		font-size: 76px;
	}
	.block1{
		padding: 10px;
	}
	.leaders{
		margin-left: 0;
		padding-left: 0;
	}
	.lead{
		width: 85%;
		padding-top: 75px;
	}
	.formaa{
		margin-left: 36px;
	}
	.forma input{
		background-color: transparent;
		color: #fff;
		width: 344px;
		height: 46px;
		padding: 10px;
		margin-bottom: 15px;
	}
	.forma{
		text-align: center;
		padding-top: 60px;
		width: 94%;
		border: 1.1px solid ;
		height: 472px;
		padding-bottom: 100px;
	}
	.addidos-text{
		padding-bottom: 0;
		padding-top: 100px;
	}
	.uznat1{
		padding-left: 160px;
	}
	.one-row{
		flex-direction: column;
		text-align: center;
	}
	.two-row{
		flex-direction: column;
		text-align: center;
	}
	.col1 p{
		max-height: 150px;
	}
	.col1{
	width: 455px;
	height: 150px;
	margin-bottom: 30px;
	}
	.col2{
	width: 445px;
	height: 135px;
	margin-bottom: 30px;
	}
	.col3{
	width: 455px;
	height: 150px;
	margin-bottom: 30px;
	}
	.col4{
	width: 445px;
	height: 135px;
	margin-bottom: 30px;
	}
	.vector{
		background: none;
	}
	.text-group{
		padding-left: 26%;
		padding-top: 100px;
	}
	#slider{
		width: 570px;
		height: 340px;
		left: 100px;
	}
	#slider2{
		width: 500px;
		height: 320px;
		left: 40px;
	}
}
@media screen and (min-width: 903px) and (max-width: 1024px){
	#slider{
		width: 520px;
		height: 300px;
		left: 40px;
	}
	#slider2{
		width: 440px;
		height: 320px;
		left: 30px;
	}
} 
@media screen and (min-width: 1200px) and (max-width: 1440px){
	.uznat4{
		padding-left: 700px;
		color: #69BAC4;
	}
	.main-img{
		padding-bottom: 50px;
		padding-top: 150px;
	}
	.main-img img{
		width: 80%;
	}
	.img-addidas{
		width: 100%;
	}
	.addis{
		padding-top: 100px;
	}
	.ad01{
		padding-right: 40px;
		padding-left: 4px;
	}
	.addidos-text{
		padding-top: 110px;
	}	
	.addidos-text p{
		padding-bottom: 18px;
	}
	.pr02{
		padding-right: 30px;
	}
	.printer-img{
		width: 50%;
	}
	.printer-title{
		padding-left: 210px;
	}
	.uznat2{
		padding-left: 340px;
	}
	.montaz{
		padding-left: 0;
	}
	.call-text{
		height: 100%;
	}
	.stol-img{
		width: 60%;
	}
	.stol-text{
		width: 400px;
	}
	.stol-text p{
		width: 400px;
	}
	.leaders{
		margin-left: 0;
	}
	.lead{
		width: 100%;
	}
	.formaa{
		padding: 10px;
		margin-left: 36px;
	}
	.forma input{
	background-color: transparent;
	color: #fff;
	width: 414px;
	height: 48px;
	padding: 14px;
	margin-bottom: 15px;
	}
	.forma{
	text-align: center;
	width: 96%;
	border: 1.1px solid #69BAC4;
	height: 472px;
	padding-bottom: 100px;
	padding-top: 70px;
	}
	.text-group{
		padding-left: 100px;
		margin-bottom: 80px;
	}
	.forma{
		background: none;
		border: 1.1px solid #69BAC4;
	}
	#slider{
		width: 670px;
		height: 380px;
	}
	#slider2{
		width: 530px;
		height: 380px;
	}


}
@media screen and (min-width: 1441px) and (max-width: 1580px){
	.text-group{
		margin-left: 10%;
		padding-left: 0;
	}
	.forma{
		background: none;
		border: 1.1px solid #69BAC4;
	}
}
@media screen and (min-width: 1441px){
	.addidos-text{
		padding-top: 120px;
	}
	.form-b a{
		padding-bottom: 20px;
		display: block;
		padding-top: 24px;
	}
	.uznat4{
		padding-left: 965px;
	}
	.uznat3{
		padding-top: 14px;
		padding-left: 200px;
	}
	.addidos-text p{
		padding-bottom: 16px;
	}
	.text-group{
		padding-left: 300px;
		padding-top: 60px;
	}
	.leaders{
		margin-left: 100px;
	}
	.montaz{
		padding-left: 330px;
	}
	.addis{
		padding-top: 80px;
	}
	.strelka{
		position: absolute;
		top: 80px;
	}
	.row1 p{
		width: 557px;
	}
	.row2 p{
		width: 557px;
	}
	.coll1{
		padding-bottom: 100px;
	}
	.coll2{
		padding-top: 100px;
	}
	.two-col{
		padding-left: 40px;
	}
	.four-col{
		padding-left: 40px;
	}
	.one-col{
		padding-right: 20px;
	}
	.three-col{
		padding-right: 20px;
	}
	.about{
		bottom: 3%;
	}
	.projects{
		bottom: 3%;
	}
	.
}
@media screen and (min-width: 567px) and (max-width: 760px){
	.main-img{
		padding-bottom: 50px;
		padding-top: 150px;
	}
	#slider{
		width: 450px;
		height: 250px;
		left: 40px;
	}
	#slider2{
		width: 500px;
		height: 280px;
		left: 30px;
	}
	.comment{
		width: 150px;
	}
	.select{
		width: 150px;
	}
	label{
		font-size: 14px;
		padding-left: 24px;
		padding-top: 18px;
	}
	.forma{
		background: none;
		border: 1.1px solid #69BAC4;
	}
	.main-img img{
		width: 80%;
	}
	.number-menu{
		flex-direction: column;
		left: 170px;	
	}
	.logotype{
		flex-direction: column;
	}
	.circles{
		flex-direction: column;
		padding-left: 30%;
	}
	.about{
		bottom: 3%;
	}
	.projects{
		bottom: 3%;
	}
	.strelka{
		display: none;
	}
	.img-addidas{
		width: 100%;
	}
	.ad01{
		display: none;
	}
	.addidas-title2{
		padding-left: 0px;
	}
	.print-text{
		padding-top: 50px;
	}
	.print-text p{
		padding-bottom: 0px;
		font-size: 10px;
	}
	.uznat1{
		padding-left: 100px;
	}
	.row1{
		margin-left: 100px;
	}
	.call input{
	border: 1.1px solid #69BAC4;
	background-color: transparent;
	color: #fff;
	width: 212px;
	padding: 10px;
	margin-bottom: 25px;
	}
	.call{
		padding-left: 50px;
	}
	.obsudit{
		width: 200px;
		height: 60px;
		margin-right: 10px;
	}
	.obsudit a{
		padding-left: 26px;
		font-size: 16px;
	}
	.call-text{
	border: 1.1px solid #69BAC4; 
	margin-left: 24px;
	padding: 14px;
	height: 100%;
	}
	.maket{
		width: 200px;
		margin-top: 6px;
		height: 54px;
		background: none;
		border: 1.2px solid #69BAC4;
	}
	.maket a{
		font-size: 16px;
		padding-top: 14px;
		padding-left: 16px;
	}
	.pr02{
		display: none;
	}
	.printer-img{
		width: 80%;
	}
	.printer-title{
		padding-left: 0px;
	}
	.uznat2{
		padding-left: 100px;
	}
	.montaz{
		padding-left: 0;
	}
	.montaz-line div{
		margin-right: 20px;
	}
	.text-group{
		padding-left: 18%;
		padding-top: 120px;
	}
	.row-stol{
		padding-left: 0;
		flex-direction: column;
	}
	.stol-img{
		width: 70%;
		margin-left: 100px;
	}
	.abb{
		flex-direction: column;
	}
	.big{
		font-size: 76px;
	}
	.block1{
		padding: 10px;
	}
	.leaders{
	padding-top: 100px;
	width: 629px;
	margin-left: 0px;
	}
	.lead{
		width: 90%;
		padding-top: 300px;
	}
	.formaa{
		margin-left: 36px;
	}
	.forma input{
	background-color: transparent;
	color: #fff;
	width: 284px;
	height: 38px;
	padding: 10px;
	margin-bottom: 15px;
	}
	.forma{
	text-align: center;
	/*background: url("../img/forma.png") no-repeat center top;*/
	width: 90%;
	border: 1.1px solid #69BAC4;
	height: 472px;
	padding-bottom: 100px;
	}
	.uznat3{
		padding-left: 200px;
	}
	.one-row{
		flex-direction: column;
		text-align: center;
	}
	.two-row{
		flex-direction: column;
		text-align: center;
	}
	.col1 p{
		max-height: 150px;
	}
	.col1{
	width: 455px;
	height: 150px;
	margin-bottom: 30px;
	}
	.col2{
	width: 445px;
	height: 135px;
	margin-bottom: 30px;
	}
	.col3{
	width: 455px;
	height: 150px;
	margin-bottom: 30px;
	}
	.col4{
	width: 445px;
	height: 135px;
	margin-bottom: 30px;
	}
	.stol-text p{
	font-size: 18px;
	width: 546px;
	}
	.vector{
		background: none;
	}
}
@media screen and (min-width: 320px) and (max-width: 566px){
	.main-img{
		padding-bottom: 50px;
		padding-top: 150px;
	}
	#slider{
		width: 450px;
		height: 250px;
		left: 40px;
	}
	#slider2{
		width: 500px;
		height: 280px;
		left: 30px;
	}
	.comment{
		width: 150px;
	}
	.select{
		width: 150px;
	}
	label{
		font-size: 14px;
		padding-left: 24px;
		padding-top: 18px;
	}
	.forma{
		background: none;
		border: 1.1px solid #69BAC4;
	}
	.main-img img{
		width: 80%;
	}
	.number-menu{
		flex-direction: column;
		left: 130px;
		padding-right: 31%;
		top: 10px;	
	}
	.ld-text{
		width: 90%;
	}
	.logotype{
		flex-direction: column;
		padding-left: 6px;
		top: 10px;
	}
	.number{
		font-size: 12px;
	}
	.circles{
		flex-direction: column;
		padding-left: 15%;
		padding-top: 80px;
	}
	.about{
		position: absolute;
		bottom: 0;
		right: 4%;
	}
	.projects{
		bottom: 12%;
		left: 11%;
		display: none;
		
	}
	.forma p{
		display: none;
	}
	.leaders h1{
		font-size: 16px;
	}
	.strelka{
		display: none;
	}
	.img-addidas{
		width: 100%;
	}
	.ad01{
		display: none;
	}
	.addidas-title2{
		padding-left: 0px;
	}
	.print-text{
		padding-top: 50px;
	}
	.print-text p{
		padding-bottom: 0px;
		font-size: 10px;
	}
	.uznat1{
		padding-left: 100px;
	}
	.call input{
		border: 1.1px solid #69BAC4;
		background-color: transparent;
		color: #fff;
		width: 150px;
		padding: 10px;
		margin-bottom: 25px;
	}
	.call{
		padding-left: 50px;
	}
	.obsudit{
		width: 200px;
		height: 60px;
		margin-right: 10px;
	}
	.obsudit a{
		padding-left: 26px;
		font-size: 16px;
	}
	.call-text{
		border: 1.1px solid #69BAC4; 
		margin-left: 24px;
		padding: 14px;
		height: 100%;
	}
	.maket{
		width: 200px;
		margin-top: 6px;
		height: 54px;
		background: none;
		border: 1.2px solid #69BAC4;
	}
	.maket a{
		font-size: 16px;
		padding-top: 14px;
		padding-left: 16px;
	}
	.pr02{
		display: none;
	}
	.printer-img{
		width: 80%;
	}
	.printer-title{
		padding-left: 0px;
	}
	.uznat2{
		padding-left: 100px;
	}
	.montaz{
		padding-left: 0;
		padding-top: 30px;
	}
	.montaz-line div{
		margin-right: 20px;
	}
	.text-group{
		padding-left: 8%;
		padding-top: 120px;
	}
	.row-stol{
		padding-left: 0;
		flex-direction: column;
	}
	.stol-img{
		width: 70%;
		margin-left: 50px;
	}
	.abb{
		flex-direction: column;
		margin-left: 24px;
		margin-top: 20px;
	}
	.big{
		font-size: 76px;
	}
	.block1{
		padding: 10px;
	}
	.leaders{
		padding-top: 100px;
		width: 90%;
		margin-left: 30px;
		text-align: center;
	}
	.leadrs{
		width: 90%;
	}
	.menu3{
		padding-top: 150px;
	}
	.lead{
		display: none;
		
	}
	.formaa{
		margin-left: 16px;
		padding-top: 65px;
		padding-bottom: 85px;
	}
	.forma input{
		background-color: transparent;
		color: #fff;
		width: 184px;
		height: 34px;
		padding: 8px;
		margin-bottom: 5px;
	}
	.formaa h1{
		font-size: 12px;
		padding: 0;
		margin: 0;
	}
	.form-uslovia{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.formaa p{
		font-size: 12px;
	}
	.first{
		margin-top: 10px;
	}
	.menu3 a{
		font-size: 24px;
		padding: 10px;
	}
	.menu3{
		padding-top: 75px;
	}
	.ld-text{
		margin: 0;
		padding: 0;
	}
	.forma{
	text-align: center;
	width: 90%;
	border: 1.1px solid #69BAC4;
	height: 200px;
	}
	.form-b a{
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #101120;
	text-align: center;
	padding: 18px;
	}
	.uznat3{
		padding-left: 270px;
		padding-bottom: 50px;
	}
	.one-row{
		flex-direction: column;
		text-align: center;
	}
	.big{
		font-size: 64px;
	}
	.two-row{
		flex-direction: column;
		text-align: center;
		padding-bottom: 0;
	}
	.col1 p{
		max-height: 150px;
	}
	.col1{
	width: 300px;
	height: 150px;
	margin-bottom: 45px;
	}
	.col2{
	width: 300px;
	height: 135px;
	margin-bottom: 30px;
	}
	.col3{
	width: 300px;
	height: 150px;
	margin-bottom: 50px;
	}
	.blue-titl{
		font-size: 14px;
	}
	.col4{
	width: 300px;
	height: 135px;
	margin-bottom: 30px;
	}
	.stol-text p{
	font-size: 18px;
	width: 546px;
	}
	.vector{
		background: none;
	}
	.cirkl{
		width: 50px;
	}
	.box-01 p{
		font-size: 12px;
	}
	.box-02 p{
		font-size: 12px;
	}
	.box-03 p{
		font-size: 12px;
	}
	.addis{
		display: none;
	}
	.mobile1{
		display: block;
		padding-top: 0px;
	}
	.addidas-title2 h1{
		font-size: 14px;
	}
	.blue-titl{
		font-size: 12px;
	}
	.addidos-text p{
		font-size: 12px;
		padding: 0;
		margin-bottom: 0;
	}
	.call-text{
		display: none;
	}
	.call{
		padding-top: 90px;
		padding-left: 70px;
	}
	#call{
		font-size: 14px;
	}
	.call input{
		border: 1.1px solid #69BAC4;
		background-color: transparent;
		color: #fff;
		width: 200px;
		height: 35px;
		padding: 4px;
		margin-bottom: 25px;
	}
	.obsudit{
		width: 100px;
		height: 50px;
	}
	.obsudit a{
		font-size: 12px;
		padding: 0;
		padding-left: 12px;
		padding-top: 10px;
	}
	.maket{
		width: 100px;
		height: 50px;
	}
	.maket a{
		font-size: 12px;
		padding: 0;
		padding-left: 10px;
		padding-top: 6px;
	}
	.printer{
		display: none;
	}
	.mobile2{
		display: block;
		padding-top: 0px;
	}
	.shiroko{
		font-size: 14px;
	}
	.print-text{
		padding-top: 0;
	}
	.print-text p{
		padding-bottom: 0;
		padding-top: 0;
		margin: 0;
	}
	.montaz h1{
		font-size: 14px;
	}
	.montaz p{
		font-size: 12px;
		padding: 3;
		margin: 0;
	}
	.crkl{
		width: 40px;
	}
	.text-group{
		padding-left: 0px;
	}
	.stol-text h1{
		font-size: 14px;
	}
	.stol-text p{
		font-size: 12px;
		width: 300px;
	}
	.uznat3{
		padding-left: 50px;
	}
	.strelka{
		display: none;
	}
	.stol-text{
		padding-top: 8px;
	}
	.row-stol{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.leaders{
		padding-left: 8px;
	}
	.srochniy{
		margin-top: 0;
	}
	.one-col{
		display: none;	
	}
	.three-col{
		display: none;	
	}
	label{
	width: 100px;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 5px;
	}
	/*Поле комментария в форме*/
	.comment{
		width: 200px;
	}
	.select{
		width: 200px;
	}
	.block4{
		display: none;
	}
	.block1{
		padding: 0;
	}
	.block2{
		padding: 0;
	}
	.block3{
		padding: 0;
	}
	.map{
		height: 300px;
	}
}
@media screen and (max-width: 1600px){
	.map-box{
	background: none;
	}
	.map{
		width: 80%;
		left: 0;
	}
}
@media screen and (max-width: 1000px){
	.map-box{
	background: none;
	left: 0;
	}
	.map{
		width: 100%;

	}
	.contacts{
		padding-top: 100px;
	}
	.mapp{
		margin-bottom: 400px;
		text-align: center;
		padding-bottom: 100px;
	}
	.bottom-map{
		height: 300px;
		
	}
	.telega{
		margin-right: 0px;
		margin-left: 0px;
	}
	.contacts-numbers{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.soc{
		padding-bottom: 0px;
	}
	.adress{
		padding-bottom: 0px;
	}
	.post{
		padding-bottom: 0px;
	}
	.wats{
		margin-left: 0px;
	}
	.contacts h1{
		font-size: 14px;
	}
}
