body{
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	background: #101120 url("../img/bg.png") repeat center top;
}
/* 1 блок */
.container{
	max-width: 2460px;
	
}
.logo{
	width: 163px;
	height: 38px;
}

.text-logo{
	font-size: 13px;
	line-height: 18px;
	margin-left: 15px;
}
.number{
	font-size: 24px;
	padding-right: 26px;
}
.num{
	position: static;
	padding-top: 64px;
	padding-right: 64px;
}
.log{
	position: static;
	padding-top: 64px;
	padding-left: 64px;
}
.line-box{
	padding-top: 5px;
}
.line{
	width: 48px;
	height: 4px;
	background: #69BAC4;
	margin-bottom: 8px;
	cursor: pointer;
}
.main-img{
	/*margin-top: 270px;*/
	/*margin-top: 310px;*/
	/*margin-bottom: 150px;*/
	/*margin-bottom: 350px;*/
	padding-bottom: 100px;
	padding-top: 200px;
}
.projects{
	position: fixed;
	top: 900px;
	padding-left: 64px;
}
.logotype{
	position: fixed;
	top: 64px;
	padding-left: 64px;
}
.number-menu{
	position: fixed;
	top: 64px;
	padding-left: 64px;
	right: 64px;
}
.projects a{
	text-decoration: none;
}
.about{
	position: fixed;
	top: 900px;
	right: 64px;
}
.proekt{
	background: url("../img/about.png") no-repeat center top;
	width: 300px;
	height: 70px;
}
.proekt a{
	text-decoration: none;
}
.about-text{
	padding-left: 65px;
	display: block;
	padding-top: 22px;
	font-size: 18px;
	text-transform: uppercase;
	color: #69BAC4;
}
.projects-text{
	font-size: 18px;
	text-transform: uppercase;
	color: #69BAC4;
	padding-top: 8px;
	padding-left: 8px;
}
/* 2 блок */
.circles{
	padding-bottom: 100px;
	padding-top: 150px;
}
.box-03{
	text-align: center;
	width: 252px;
}
.box-01,.box-02{
	text-align: center;
	margin-right: 170px;
	width: 252px;
}
.box-01 p,.box-02 p,.box-03 p{
	padding-top: 14px;
}
/*3 блок*/
.addidas-title{
	position: absolute;
	top: 0;
}
/*.add-d{
	position: absolute;
	top: 100px;
}*/
.ttt{
	position: absolute;
	left: 20%;
}
/*.addidas-img img{
	width: 100%;
}
.addidas-section{
	margin-left: 240px;
}
.addidas-text{
	text-align: left;
	padding-top: 120px;
}
.addidas-section p{
	padding-bottom: 18px;
}
.addidas-text p{
	font-size: 18px;
}*/
.blue-text{
	color: #69BAC4;
	font-size: 18px;
}
.add-text{
	padding-top: 120px;
}
.add-text p{
	padding-bottom: 16px;
}
/*4 блок*/
.call-text{
	width: 532px;
	height: 182px;
	border: 1.1px solid #69BAC4; 
	margin-left: 24px;
	padding: 14px;
}
.call{
	padding-bottom: 150px;
	padding-top: 150px;
}
.call h1{
	text-transform: uppercase;
}
.call input{
	border: 1.1px solid #69BAC4;
	background-color: transparent;
	color: #fff;
	width: 612px;
	padding: 10px;
	margin-bottom: 25px;
}
.comment{
	height: 82px;
}
.obsudit{
	background: url("../img/full.png") no-repeat center top;
	width: 300px;
	height: 70px;
}
.obsudit a{
	display: block;
	text-transform: uppercase;
	font-size: 18px;
	color: #101120;
	padding-top: 24px;
	padding-left: 60px;
	text-decoration: none;
}
.maket{
	background: url("../img/about.png") no-repeat center top;
	width: 300px;
	height: 70px;
}
.maket a{
	display: block;
	padding-left: 60px;
	padding-top: 24px;
	text-transform: uppercase;
	font-size: 18px;
	color: #69BAC4;
	text-decoration: none;
}
/*блок 5*/
.printer-title{
	padding-left: 180px;
}
.printer{
	padding-bottom: 100px;
	padding-top: 200px;
}
.print-text{
	padding-top: 132px;
}
.print-text p{
	padding-bottom: 16px;
}
.uznat{
	display: block;
	padding-left: 230px;
}
.pr02{
	padding-top: 140px;
	padding-right: 20px;
}
.addidas-title2{
	padding-left: 170px;
}
.ad01{
	padding-top: 140px;
	padding-right: 20px;
}
.montaz-line{
	padding-top: 20px;
}
.montaz-box1{
	width: 230px;
	margin-right: 155px;
}
.montaz-box2{
	width: 300px;
	margin-right: 162px;
}
.montaz-box3{
	width: 220px;
}
.montaz-box1 p,.montaz-box2 p,.montaz-box3 p{
	padding-top: 15px;
}
.srochniy{
	background: url("../img/about.png") no-repeat center top;
	width: 300px;
	height: 70px;
	margin-top: 30px;
	margin-right: 10px;
}
.srochniy a{
	display: block;
	padding-left: 25px;
	padding-top: 24px;
	text-transform: uppercase;
	font-size: 18px;
	color: #69BAC4;
	text-decoration: none;
}
.blue-titl{
	font-size: 24px;
	color: #69BAC4;
}
.montaz{
	padding-bottom: 100px;
	padding-top: 100px;
	padding-left: 150px;
}
.mr-left{
	margin-left: 3%;
}
.strelka{
	padding-bottom: 100px;
}
.row-stol{
	padding-top: 130px;
	padding-bottom: 100px;
}
/*блок 6*/
.vector{
	background: url("../img/vector.png") no-repeat center top;
}
.col1{
	width: 555px;
	height: 150px;
	margin-bottom: 142px;
	margin-right: 165px;
}
.col2{
	width: 545px;
	height: 135px;
	margin-bottom: 142px;
}
.col3{
	width: 555px;
	height: 150px;
	margin-right: 165px;
}
.col4{
	width: 545px;
	height: 135px;
}
.text-group{
	padding-bottom: 90px;
	padding-left: 370px;
}
.stol-text h1{
	font-size: 34px;	
}
.stol-text p{
	font-size: 18px;
	width: 646px;
}
.stol-text{
	padding-top: 100px;
}
/*блок 7*/
.block1{
	background: url("../img/11.png") no-repeat center top;
	margin-right: 40px;
	text-align: center;
	padding: 40px;
}
.block2{
	background: url("../img/9850.png") no-repeat center top;
	margin-right: 40px;
	text-align: center;
	padding: 40px;
}
.block3{
	background: url("../img/4.png") no-repeat center top;
	margin-right: 40px;
	text-align: center;
	padding: 40px;
}
.block4{
	background: url("../img/71.png") no-repeat center top;
	text-align: center;
	padding: 40px;
}
.big{
	font-size: 96px;
	color: #69BAC4;
	margin-bottom: 0;
}
.s-big{
	font-size: 48px;
}
/*.block1 p.big{
	padding-left: 0px;
	padding-top: 40px;
}
.block2 p.big{
	padding-left: 0px;
	padding-top: 30px;	
}
.block3 p.big{
	padding-left: 0px;
	padding-top: 40px;
}
.block4 p.big{
	padding-left: 0px;
	padding-top: 40px;
}*/
.leaders{
	padding-top: 100px;
	width: 629px;
	margin-left: 380px;
}
.lead-text{
	font-size: 18px;
}
.ld-text{
	font-size: 24px;
	color: #69BAC4;
}
/*блок 8*/
.forma{
	text-align: center;
	/*background: url("../img/forma.png") no-repeat center top;*/
	width: 1434px;
	border: 1.1px solid #69BAC4;
	height: 412px;
	padding-bottom: 200px;
}
.forma input{
	
	background-color: transparent;
	color: #fff;
	width: 604px;
	height: 48px;
	padding: 10px;
	margin-bottom: 25px;
}
.formaa{
	margin-left: 200px;
}
.form-uslovia{
	font-size: 24px;
}
.form-b{
	background: url("../img/form-b.png") no-repeat center top;
/*	width: 420px;
	height: 70px;*/
	/*padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 60px;
	padding-left: 60px;*/
}
.form-b a{
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	color: #101120;
	text-align: center;
	padding: 26px;
}