@media screen and (min-width: 320px) and (max-width: 566px){
	.title h1{
		font-size: 32px;
	}
	.bg-header{

	}
	.sanitar{
		display: none;
	}
	.rev{
		display: none;
	}
	.bold-h2{
		font-size: 2px;
	}
	.title-call h2{
		font-size: 22px;
	}
}