body{
	font-weight: 500;
}
.logo{
	margin-bottom: 100px;
}
.logo img{
	position: relative;
}
.bg-header{
	position: absolute;
	width: 100%;
	height: 500px;
}
.bg-header-mobile{
	display: none;
}
.sanitar-mobile{
	display: none;
}
.logo p{
	position: absolute;
	left: 200px;
	top: 20px;
}
h1{
	text-transform: uppercase;
	font-size: 66px;
}
.about-title{
	font-weight: 400;
	margin-bottom: 0;
}
.blue-text{
	color: #11DFD3;
}
.button{
	background: #11DFD3;
	border-radius: 50px;
	display: block;
	width: 350px;
	height: 60px;
	cursor: pointer;
	margin-top: 50px;	
}
.button a{
	color: #fff;
	padding-left: 36px;
	text-decoration: none;
}
.arrow-box{
	border-radius: 50%;
	background: #fff;
	color: grey;
	width: 46px;
	height: 46px;
	display: block; 
	font-size: 22px;
	font-weight: 500;
	position: relative;
	margin-left: 36px;
}
.arrow{
	position: absolute;
	top: 5px;
	left: 16px;
}
/*Второй блок*/
.title-block2{
	margin-top: 50px;
	text-align: center;
}
.title-block2 p{
	font-size: 22px;
}
.title-block2 h2{
	text-transform: uppercase;
	padding-bottom: 0;
	margin-bottom: 0;
}
.box{
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #D5D5D5;
	height: 250px;
}
.box img{
	padding-bottom: 30px;
	padding-top: 50px;
}
.bold-text{
	font-weight: 900;
	color: #4E4E4E;
}
.line{
	background: #11DFD3;
	height: 3px;
	width: 50px;
	margin: 0 auto;
}
/*3 блок контакты*/
.bg-call{
	width: 100%;
	z-index: 1;
	position: relative;
	
	/*position: absolute;*/
}
.title-call h2{
	position: relative;
	top: 200px;
	text-align: center;
	z-index: 2;
}
.form{
	position: relative;
	z-index: 3;
	bottom: 160px;
}
.bold-h2{
	font-weight: 900;
	font-size: 36px;
}
.title-call h2{
	text-transform: uppercase;
}
.title-call{
	padding: 0;
}
.form input{
	padding: 10px;
	border-radius: 20px;
	border: none;
	width: 310px;
	margin-right: 16px;
	outline: 0;
    outline-offset: 0;
}
.btn{
	background: #FFE400;
	color: #000;
}
/*4 блок*/
.sanitar{
	padding: 0;
	height: 600px;
}
.bg-sanitar{
	z-index: 1;
	width: 100%;
	position: relative;
}
.dr{
	z-index: 2;
	position: relative;
	/*top: 100px;*/
	bottom: 360px;
	margin-left: 100px;
	font-size: 160px;
	opacity: 0.2;
	
}
.name{
	z-index: 3;
	bottom: 480px;
	margin-left: 50px;
	position: relative;
	color: #000;
	font-size: 100px;
	font-family: Domine;
}
.about-him{
	bottom: 500px;
	z-index: 4;
	position: relative;
	font-size: 28px;
	margin-left: 50px;
}
/*5 блок*/
.title-review{
	text-align: center;
}
.bg-review{
	background: url(../img/lines.jpg) no-repeat center top;
	text-align: center;
}
.bg-review img{
	padding-top: 50px;
}
.reviewer-name{
	font-weight: 900;
	font-size: 22px;
	color: #555555;
	text-transform: uppercase;
}
.review-date{
	color: #9E9E9F;
	padding-bottom: 6px;
}
.review-line{
	height: 4px;
	width: 35px;
	background: #11DFD3;
	margin: 0 auto;
	margin-bottom: 18px;
}
.review-text{
	padding-bottom: 50px;
	color: #9E9E9F;
}
@media screen and (min-width: 320px) and (max-width: 566px){
	.title h1{
		font-size: 32px;
	}
	.title-call h2{
		font-size: 22px;
	}
	.header{
		text-align: center;
	}
	.bold-h2{
		font-size: 22px;
	}
	.title-call h2{
		top: 0px;
		margin-top: 20px;
		margin-bottom: 70px;
	}
	.form input{
		width: 290px;
		margin: 0 auto;
		display: block;
		margin-bottom: 10px;
	}
	.form{
		padding-top: 40px;
	}
	.call{
		height: 380px;
	}
	.button{
		width: 310px;
		margin: 0 auto;
		margin-top: 50px;
	}
	.button a{
		padding-left: 20px;
		font-size: 16px;
		padding-right: 12px;
	}
	.arrow-box{
		margin-right: 0px;
		margin-left: 0;
	}
	.arrow{
		position: absolute;
		top: 6px;
		left: 17px;
	}
	.bg-header{
		display: none;
	}
	.bg-header-mobile{
		display: block;
		position: absolute;
		width: 100%;
		height: 550px;
	}
	.sanitar{
		display: none;
	}
	.sanitar-mobile img{
		width: 100%;
	}
	.sanitar-mobile p{
		font-size: 18px;
	}
	.sanitar-mobile{
		display: block;
		text-align: center;
	}
	.bg-review{
		border-bottom: 1px solid #555555;
		border-top: 1px solid #555555;
	}
	.title-review{
		padding-top: 30px;
	}
}