.colors p{
	margin-bottom: 0;
}
#color{
	margin-bottom: 0px;
	margin-top: 10px;
}
.fonts p{
	margin-right: 14px;
	background: grey;
	padding: 6px;
	color: #fff;
	cursor: pointer;
}
textarea{
	width: 27.5%;
	height: 100px;
}
#bold, #normal{
	background: grey;
	padding: 5px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 70px;
	text-align: center;
	color: #fff;
}
#color-select{
	width: 16px;
	height: 16px;
	margin-left: 8px;
	margin-top: 4px;
}