body{
	background: #120421;
}
.header{
	border-bottom: 2px solid #620204;
	height: 60px;
}
.ul li{
	list-style: none;
	display: inline-block;
}
.logo img{
	width: 150px;
}
.menu-item a{
	text-transform: uppercase;
	color: #F7C801;
	font-size: 20px;
	text-decoration: none;
	font-weight: 500;
}
.menu-item{
	margin-right: 40px;
}
.sidebar{
	height: 1000px;
	border-right: 2px solid #620204;
	border-bottom: 2px solid #620204;
}